page-home {
    .homeBckgr {
        background-color: color($colors, mainBckgr);
        overflow: auto;
    }

    .toolbar-title {
        font-weight: 300
    }

    .header::after {
        background: none;
    }

    .test {
        background: url('../assets/icon/ClockLogo.svg');
        width: 1em;
        height: 1em;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
