time-display {

    .timeIndicator{
        font-size: .6em;
        font-weight: 600;
        position: relative;
        top: -0.5em;
    }

    .minutes {
        font-size: .6em;
        position: relative;
        top: -0.5em;
    }

    .seconds {
        font-size: .6em;
        position: relative;
        top: -0.5em;
    }

    font-weight: 100;
}
 