expandable-container {

    .baseContent {
        transition: all 1s;
    }

    .expandedContent {
        height: auto;
    }

    .shrunkContent {
        height: 0;
    }

    .toolbar-title, ion-icon{
        color: tint(color($colors, primary), 75%);
    }

    .item {
        padding-left: 0px;
    }    
}


